.text {
  margin: 60px auto;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  p {
    max-width: 800px;
    margin-inline: auto;
    color: #aaa;
    font-size: 1rem;
  }
}
