:root {
  --bg: #030303;
  --bg-dark: #030303;
  --accent-pink: #cf0e48;
  --accent-cyan: #0ff;
  --text: #fff;

  --radius: 0.75rem;
  --space: 16px;
  --shadow-lg: 0 4px 20px rgba(0, 0, 0, 0.6);
  --ring: 0 0 0 3px rgba(0, 255, 255, 0.35);
}
